<div class="container">
  <div class="row">
    <div class="col-lg-2 mt-5 mx-auto">
      <h4 class="px-3 text-left">商品一覧</h4>
    </div>
    <div class="col-lg-2 mt-3 mx-auto">
      <%= link_to '/admin/items/new', class: "text-dark fa-3x" do %>
        <i class="fa-solid fa-circle-plus"></i>
      <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-10 mx-auto">
      <table class="table">
        <thead class="table-active">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item.id), class: "text-dark" %></td>
            <td><%= number_to_currency(item.price) %></td>
            <td><%= item.genre.name %></td>
            <td>
              <% if item.is_active %>
                <p class="text-success">販売中</p>
              <% else %>
                <p clas="text-secondary"> 販売停止中</p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @items %>
</div>

