<div class="container">
  <div class="row">
    <!--ジャンル検索-->
    <div class="col-lg-2">
      <%= render 'public/items/genrebox', genres: @genres %>
    </div>
    <div class="col-lg-10 px-0">
      <img src="assets/top3.jpg" class="img-fluid">
      <div class="row mt-3">
        <div class="col-lg-10 mx-auto shop-introduction">
          <h3>ようこそ、ながのCakeへ！</h3>
          <p>
            このサイトは、ケーキ販売のECサイトになります。</br>
            会員でない方も商品の閲覧は出来ますが、購入には会員登録が必要になります。
          </p>
        </div>
      </div>
      <div class="row border-bottom pb-2">
        <h2 class="mr-4 title"><span class="-main">NEW ITEMS</span><span class="-sub">新着商品</span></h2>
      </div>
      <div class="row mt-3">
        <% @items.each do |item| %>
        <div class="col-lg-3 mb-3 item_group">
          <%= link_to item_path(item.id) do%>
            <%= image_tag item.get_image(180, 120) %>
          <% end %>
          <h4 class="item_name mt-3"><%= item.name %></h4>
          <span class="item_price"><%= number_to_currency(item.with_tax_price) %></span><span style="font-size: 13px;">円 (税込)</span>
        </div>
        <% end %>
      </div>
      <div class="row">
        <div class="ml-auto">
          <%= link_to "全ての商品を見る", items_path, class: "text-dark" %>
        </div>
      </div>
    </div>
  </div>
</div>
