<div class="container">
  <h4 class="px-3 text-left mt-3 mb-5"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h4>
  <div class="row mb-3">
    <label class="col-lg-3 col-form-label">会員ID</label>
    <div class="col-lg-6 d-flex align-items-center">
      <%= @customer.id %>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-lg-3 col-form-label">氏名</label>
    <div class="col-lg-6 d-flex align-items-center">
      <%= @customer.last_name %>
      <%= @customer.first_name %>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-lg-3 col-form-label">フリガナ</label>
    <div class="col-lg-6 d-flex align-items-center">
      <%= @customer.last_name_kana %>
      <%= @customer.first_name_kana %>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-lg-3 col-form-label">郵便番号</label>
    <div class="col-lg-6 d-flex align-items-center">
      <%= @customer.postal_code %>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-lg-3 col-form-label">住所</label>
    <div class="col-lg-6 d-flex align-items-center">
      <%= @customer.address %>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-lg-3 col-form-label">電話番号</label>
    <div class="col-lg-6 d-flex align-items-center">
      <%= @customer.telephone_number %>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-lg-3 col-form-label">メールアドレス</label>
    <div class="col-lg-6 d-flex align-items-center">
      <%= @customer.email %>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-lg-3 col-form-label">会員ステータス</label>
    <div class="col-lg-6 d-flex align-items-center">
      <% if @customer.is_active %>
        <strong><p class="text-success">有効</p></strong>
      <% else %>
        <strong><p class="text-secondary">退会</p></strong>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 mx-auto">
      <%= link_to " 編集する ", edit_admin_customer_path(@customer.id), class: "btn btn-lg btn-success" %>
    </div>
  </div>
</div>
