<div class="container">
  <h2 class="px-3 mt-3 text-left">配送先登録/一覧</h2>
  <%= form_with model: @address, url: addresses_path, method: :post, local: true do |f| %>
  <div class="row mt-5">
    <div class="col-lg-3">
      <label class="col-form-label">郵便番号(ハイフンなし)</label>
    </div>
    <div class="col-lg-3">
      <%= f.text_field :postal_code, class: "form-control postal_code" %>
      <%= render 'layouts/error_messages', model: @address, attribute: :postal_code %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-3">
      <label class="col-form-label">住所</label>
    </div>
    <div class="col-lg-6">
      <%= f.text_field :address, class: "form-control address" %>
      <%= render 'layouts/error_messages', model: @address, attribute: :address %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-3">
      <label class="col-form-label">宛名</label>
    </div>
    <div class="col-lg-3">
      <%= f.text_field :name, class: "form-control name" %>
      <%= render 'layouts/error_messages', model: @address, attribute: :name %>
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
      <%= f.submit "　新規登録　", class: "btn btn-success" %>
    </div>
  </div>
  <% end %>
  <div class="row mt-5">
    <table class="table table-bordered" style="width: 80%;">
      <thead class="table-active">
        <tr>
          <th scope="col" style="width: 15%;">郵便番号</th>
          <th scope="col" style="width: 50%;">住所</th>
          <th scope="col" style="width: 15%;">宛名</th>
          <th scope="col" style="width: 20%;"></th>
        </tr>
      </thead>
      <tbody>
        <% @addresses.each do |address| %>
        <tr>
          <td><%= address.postal_code %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td class="text-center">
            <%= link_to " 編集する ", edit_address_path(address.id), class: "btn btn-sm btn-success" %>
            <%= link_to " 削除する ", address_path(address.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>