
<div class="container">
  <h4 class="px-3 text-left mt-3">新規会員登録</h2>
  <div class="row mt-5">
    <div class="col-lg-10 mr-auto">
      <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
      <div class="row mb-2">
        <label class="col-lg-2 col-form-label" style="font-weight: bold;">名前</label>
        <label class="col-lg-1 col-form-label text-right pr-0" style="font-size: 12px; font-weight: bold;">（姓）</label>
        <div class="col-lg-3">
          <%= f.text_field :last_name, class: "form-control last_name", placeholder: "姓" %>
        </div>
        <label class="col-lg-1 col-form-label text-right pr-0" style="font-size: 12px; font-weight: bold;">（名）</label>
        <div class="col-lg-3">
          <%= f.text_field :first_name, class: "form-control first_name", placeholder: "名" %>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-lg-2 col-form-label" style="font-weight: bold;">フリガナ</label>
        <label class="col-lg-1 col-form-label text-right pr-0" style="font-size: 12px; font-weight: bold;">（セイ）</label>
        <div class="col-lg-3">
          <%= f.text_field :last_name_kana, class: "form-control last_name_kana", placeholder: "セイ" %>
        </div>
        <label class="col-lg-1 col-form-label text-right pr-0" style="font-size: 12px; font-weight: bold;">（メイ）</label>
        <div class="col-lg-3">
          <%= f.text_field :first_name_kana, class: "form-control first_name_kana", placeholder: "メイ" %>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-lg-3 col-form-label" style="font-weight: bold;">メールアドレス</label>
        <div class="col-lg-3">
          <%= f.email_field :email, class: "form-control email", placeholder: "sample@example.com" %>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-lg-3 col-form-label" style="font-weight: bold;">郵便番号(ハイフンなし)</label>
        <div class="col-lg-3">
          <%= f.text_field :postal_code, class: "form-control postal_code", placeholder: "0000000" %>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-lg-3 col-form-label" style="font-weight: bold;">住所</label>
        <div class="col-lg-7">
          <%= f.text_field :address, class: "form-control address" %>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-lg-3 col-form-label" style="font-weight: bold;">電話番号(ハイフンなし)</label>
        <div class="col-lg-3">
          <%= f.text_field :telephone_number, class: "form-control telephone_number", placeholder: "00000000000" %>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-lg-3 col-form-label" style="font-weight: bold;">パスワード(6文字以上)</label>
        <div class="col-lg-3">
          <%= f.password_field :password, class: "form-control new_password" %>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-lg-3 col-form-label" style="font-weight: bold;">パスワード(確認用)</label>
        <div class="col-lg-3">
          <%= f.password_field :password_confirmation, class: "form-control new_password" %>
        </div>
      </div>
      <div class="row mb-3">
        <span class="col-lg-3"></span>
        <div class="col-lg-3">
          <%= f.submit "　　新規登録　　", class: "btn btn-success" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <h4 class="px-3 text-left mt-3">既に登録済みの方</h2>
  <div class="px-5">
    <%= link_to "こちら", new_customer_session_path %> <span>からログインしてください。</span>
  </div>
</div>


