<div class="container">
  <div class="row mt-3">
    <div class="col-lg-10 mx-auto">
      <h2 class="text-left mb-10">ログイン</h2>

      <%= form_with model: @customer, url: customer_session_path do |f| %>
      <div class="row mt-3">
        <span class="col-lg-2 ml-auto">メールアドレス</span>
        <div class="col-lg-6 mr-auto">
          <%= f.email_field :email, class: "form-control email", placeholder: "sample@example.com", autocomplete: "email" %>
          <%= render 'layouts/error_messages', model: @customer, attribute: :email %>
        </div>
      </div>

      <div class="row mt-3">
        <span class="col-lg-2 ml-auto">パスワード</span>
        <div class="col-lg-6 mr-auto">
          <%= f.password_field :password, class: "form-control password", autocomplete: "current-password" %>
          <%= render 'layouts/error_messages', model: @customer, attribute: :password %>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-2 mx-auto">
          <%= f.submit "ログイン", class: "btn btn-sm btn-primary" %>
        </div>
      </div>
      <% end %>

    </div>
  </div>
  <h4 class="px-3 mt-5 text-left">会員登録がお済みでない方</h4>
  <div class="mx-auto">
    <%= link_to "こちら", new_customer_registration_path %> <span>　から新規登録を行ってください。</span>
  </div>
</div>
