<div class="container">
  <div class="row">
    <!--ジャンル検索-->
    <div class="col-lg-2">
      <%= render 'genrebox', genres: @genres %>
    </div>
    <div class="col-lg-10">
      <div class="row border-bottom pb-2">
        <h2 class="mr-5">
        <% if params[:genre_id] %>
          <%= @genre.name + "一覧" %>
        <% else %>
          商品一覧
        <% end %>
        </h2>
        <% if params[:genre_id] %>
          <span class="d-flex align-items-center">(全<%= @genre.items.where(is_active: true).count %>件)</span>
        <% else %>
          <span class="d-flex align-items-center">(全<%= Item.where(is_active: true).count %>件)</span>
        <% end %>
      </div>

      <div class="row row-cols-4 mt-5">
        <% @items.each do |item| %>
        <div class="col-lg-3 mb-4">
          <%= link_to item_path(item.id) do%>
            <%= image_tag item.get_image(225, 150) %>
          <% end %>
          <p class="index-item-name mt-2"><%= item.name %></p>
          <p class="index-item-price mt-1">￥<%= number_to_currency(item.price) %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= paginate @items %>
</div>

