<div class="container">
  <div class="row">
    <!--ジャンル検索-->
    <div class="col-lg-2">
      <%= render 'genrebox', genres: @genres %>
    </div>
    <div class="col-lg-5">
      <%= image_tag @item.get_image(450, 300) %>
    </div>
    <div class="col-lg-5">
      <h4 class="item_name"><%= @item.name %></h4>
      <p class="item_introduction"><%= @item.introduction %></p>
      <span class="item_price mt-5"><%= number_to_currency(@item.with_tax_price) %></span><span style="font-size: 13px;">円 (税込)</span>
      <%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true do |f| %>
      <div class="row mt-5">
        <%= f.hidden_field :item_id, :value => @item.id %>
        <div class="col-lg-3 ml-5 text-right">
          <%= f.select :amount, *[1..10], class: "custom_select cart_item_amount" %>
        </div>
        <div class="col-lg-6">
          <%= f.button :type => 'submit', class: "btn btn-success btn-block" do %>
            <i class="fa-solid fa-cart-shopping"></i><span style="font-size: 13px; font-weight: bold;">カートに入れる</span>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

